

body {background-color: teal;}


div {
    background-color: #ffcc00;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    display: inline;
    
}

h2 {
    display: inline;
    padding-left: 75%;
}


ol {

}

li {

}

p {

}

