

body {background-color: teal;}

div {
    background-color: #ffcc00;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

h1,h2{display:inline;

}
h1 {
    text-align: left;
}

h2 {
    text-align: right;
}

ol {

}

li {

}

p {

}

